<h1>Listing teams</h1>

<table>
  <tr>
    <th>Teamname</th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= team.teamname %></td>
    <td><%= link_to 'Show', team %></td>
</tr>
<% end %>
</table>

<br />
