<h1>Choose Member to Add</h1>

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>


<table>
  <tr>
    <th>Username</th>
    <th></th>
  </tr>

<% @inviteable_users.each do |user| %>
  <tr>
    <td><%= link_to user.username, user %></td>
    <td><%= button_to 'Add Member', :action => 'add_member', :controller => 'teams', :team_id => @team.id, :add_member_id => user.id %>
  </tr>
<% end %>
</table>

<br />


